<h2>ジャンル新規登録</h2>

<%= form_for(@genre) do |f| %>

  <div class="field">
    <%= f.label :genre_name, "レーベル名" %>
    <%= f.text_field :genre_name %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>
