<div class="container genre_new">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h2>レーベル新規登録</h2>

			<%= form_for(@genre) do |f| %>

			  <div class="field">
			    <%= f.label :genre_name, "レーベル名" %>
			    <%= f.text_field :genre_name,required: true,class: 'form-control' %>
			  </div>

			  <div class="actions pull-right">
			    <%= f.submit "登録",class: 'btn btn-default' %>
			  </div>
			<% end %>
	    </div>
    </div>
</div>