<div class="container">
	<div class="row">
		<div class="col-xs-12">
		<%= image_tag 'kimino.jpeg', :size =>"800x400"%>
			<div class="box" >
	    		<div class="text">THANKS VISITED NAGANO RECORD!!<br>
	    			YOU CAN FIND AWSOME MUSIC. LET'S GET CD
	    		</div>
			</div>
		</div>
	</div>
</div>
