<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<div class="box" >
	    		<div class="text"><strong>THANKS VISITED NAGANO RECORD!!<br>
	    			YOU CAN FIND AWSOME MUSIC. LET'S GET CD</strong>
	    		</div>
			</div>
		</div>
	</div>
</div>
