<div class="container">
	<div class="row">
		<div class="">
			<%= link_to "商品管理", "products/index" %>
			<%= link_to "ユーザー管理", "users/index" %>
			<%= link_to "購入履歴一覧","oders/index" %>
			<%= link_to "問い合わせ" , "contacts" %>

		</div>
	</div>
</div>
