<div class="container artist_new">
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h2>アーティスト名編集</h2>
			<%= form_for(@artist) do |f| %>
				<h4>アーティスト名</h4><br>
				<%= f.text_field :artist_name, class: "form-control" %>
	            <div class="pull-right">
				<%= f.submit '更新',class: 'btn btn-default' %>
			    </div>
			<% end %>
		</div>
	</div>
</div>
