<h2>レーベル新規登録</h2>

<%= form_for(@label) do |f| %>

  <div class="field">
    <%= f.label :label_name, "レーベル名" %>
    <%= f.text_field :label_name %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>