<div class="panel panel-success">
    <div class="panel-heading">
        <h6>店舗への問い合わせ</h6>
    </div>
    <div class="panel-body">
        <%= form_for contact do |f| %>
            <%= f.text_field :title, placeholder:"件名", class: "form-control input-sm" %>
            <%= f.text_area :contact_content, placeholder:"内容", class: "form-control input-sm" %>
            <%= f.submit '送信', class: "btn btn-default input-sm" %>
        <% end %>
    </div>
</div>