/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
	@import "bootstrap-sprockets";
	@import "bootstrap";


/*リセットCSS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

/*文字色を指定する*/
.tc-white {
	color:#ffffff;
}

.my-orange {
	color: orange;
}

.my-red {
	color: red;
}

.my-green {
	color: green;
}

.my-black {
	color: #8699b8;
}

.pr0 {
	padding-right:0px;
}

/* リンクタグのStyle*/

body {
	font-family: 'M PLUS Rounded 1c', sans-serif;
    a:link {color:#3b4350; text-decoration:none; }
    a:visited { color:#3b4350; text-decoration:none; }
    a:hover { color:#8699b8; text-decoration:none; }
    a:active { color:#3b4350; text-decoration:none; }
}

/*ここからヘッダーの関する記述*/

.top_box {
	margin:0 auto;
	width: 100%;
	height: 100px;
	background-color:#fdcfa0;
	text-align:center;
    position: relative;
}

.top_image {
	height: 100px;
	position: absolute;
	left: 20px;
}

.top_link {
	width: 15%;
	height: 100px;
	float: right;
}

.header_link_item_box {
	text-align:left;
	padding-top:20px;
}

.header_link_item {
	list-style:none;
}

nav {
	height:50px;
}

.navbar-nav {
	float: right;
}

.navbar{
	margin-bottom: 0;
}

.nav_link_item {
	list-style:none;
}

.input-group {
	padding-top:6px;
}

footer {
	height:60px;
	width: 100%;
	line-height:60px;
	text-align:center;
	background-color:#fdcfa0;
}
.my-black {
	margin: 0;
}
/*.container {
    padding-top: 50px;
	margin-bottom: 50px;
}*/
.padi{
    padding-top: 50px;
	padding-right: 0;
	padding-left:  0;
}
.main{
	background-image: url("/assets/rale2.jpg");
	background-position: left top;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	/*opacity: 0.4;*/
}
.sample{
    height: 100%;
	background-size: cover;
	background: rgba(255,255,255,0.5);
}

.static_pages .sample {
	background: rgba(255,255,255,0);
}

.pass{
	margin-top: 200px;
	/*text-align:center;*/
}

.login{
	height: 700px;
}
.words{
	height: 700px;
}
.users {
	margin: 0 auto;
}
 .users-index{
 	margin: 0 auto;
 	height: 600px;
 }