// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*リセットCSS*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

.clearfix {
	content: "";
	display: block;
	clear: both;
}

.product_container {
	width: 150px;
	height: 200px;
	margin: 0 auto;
	float: left;
}