// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.box
{
    postion: relative;
}

.box div.text
{
    position: absolute; 
    left: 10px; 
    top: 10px; 
    font-size: 30px;
}