<p>パスワード変更 <%= @resource.email %></p>
<br>
<p>NaganoRecordOnlineをご利用いただきありがとうございます。</p>
<p>下記のURLにアクセスして変更手続きを行ってください。</p>

<p><%= link_to 'パスワード変更', edit_user_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに心あたりがない場合はこのメールを破棄していただいてかまいません。</p>
<br>
<br>
<hr>
<p>NaganoRecordOnline</p>