<h2>レビュー新規投稿</h2>
<%= form_for [@product, @review] do |f| %>

  <div class="field">
    <%= f.label :review_content, "レビュー内容" %>
    <%= f.text_area :review_content %>
  </div>
  <div class="actions">
    <%= f.submit "登録" %>
  </div>

<% end %>